{% extends 'SiteFrontEndBundle::base_template.html.twig' %}
{% block content %}  


<h1>Hello ADMIN</h1>
<p>
LOL ADMIN connect<br/>
email: Admin@gmail.com<br/>
<?php echo myfunct2($result11);?>
</p>
{% endblock content%}